<div aria-hidden="true" ng-controller="PortfolioController as portfolio">
	<!-- Portfolio Modals -->
	<!-- Use the modals below to showcase details about your portfolio projects! -->
	
	<!-- Portfolio Modal 1 -->
	<div class="portfolio-modal modal fade" id="{{portfolio.items[0].modal}}" 
	    tabindex="-1" role="dialog" aria-hidden="true" 
		ng-include="{{portfolio.items[0].url}}">
	</div>
	
	<!-- Portfolio Modal 2 -->
	<div class="portfolio-modal modal fade" id="portfolioModal2" 
	    tabindex="-1" role="dialog" aria-hidden="true" 
		ng-include="'views/modals/modal_2.html'">
	</div>
	
	<!-- Portfolio Modal 3 -->
	<div class="portfolio-modal modal fade" id="portfolioModal3" 
	    tabindex="-1" role="dialog" aria-hidden="true" 
		ng-include="'views/modals/modal_3.html'">
	</div>
	
	<!-- Portfolio Modal 4 -->
	<div class="portfolio-modal modal fade" id="portfolioModal4" 
	    tabindex="-1" role="dialog" aria-hidden="true" 
		ng-include="'views/modals/modal_4.html'">
	</div>
	
	<!-- Portfolio Modal 5 -->
	<div class="portfolio-modal modal fade" id="portfolioModal5" 
	    tabindex="-1" role="dialog" aria-hidden="true" 
		ng-include="'views/modals/modal_5.html'">
	</div>
	
	<!-- Portfolio Modal 6 -->
	<div class="portfolio-modal modal fade" id="portfolioModal6" 
	    tabindex="-1" role="dialog" aria-hidden="true" 
		ng-include="'views/modals/modal_6.html'">
	</div>
</div>